@media (max-width: 900px) {
  .textoEsquerda {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #00d154;
  }
  .posicionadorSobree h3 {
    font-family: "daysone";
    font-size: 25px;
    text-align: center;
    margin: 30px;
  }
  .posicionadorSobree p {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    max-width: 700px;
    text-align: center;
    margin: 30px;
  }

  .textoDireita {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #36a9e1;
  }

  .posicionadorSobred h3 {
    font-family: "daysone";
    font-size: 25px;
    text-align: center;
    margin: 30px;
  }
  .posicionadorSobred p {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    max-width: 700px;
    text-align: center;
    margin: 30px;
  }
  .imgSobre img {
    max-width: 0;
    max-height: 0;
  }
  .formularioBotoes a{
    background: #fff;
    color: #000;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-family: 'daysone', sans-serif;
    font-size: 20px;
    margin: 0 30px;
  }
  .formularioBotoes button{
    margin: 0 30px;
  }
}

@media (min-width: 901px) {
  .textoEsquerda {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #00d154;
  }
  .posicionadorSobree h3 {
    font-family: "daysone";
    font-size: 25px;
    margin-bottom:15px;
  }
  .posicionadorSobree p {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    max-width: 700px;
  }

  .textoDireita {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #36a9e1;
  }

  .posicionadorSobred h3 {
    font-family: "daysone";
    font-size: 25px;
    margin-bottom: 15px;
  }

  .posicionadorSobred p {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    max-width: 700px;
    margin-bottom:15px;
  }

  .imgSobre img {
    max-width: 400px;
    min-width: 400px;
  }

  .cardsSobreContainer {
    display: flex;
    flex-direction: row;
    margin-bottom:50px;
  }

  .formularioBotoes a{
    background: #fff;
    color: #000;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-family: 'daysone', sans-serif;
    font-size: 20px;
    margin: 0 30px;
  }
  .formularioBotoes button{
    margin: 0 30px;
  }
}
