@media (min-width: 651px) {
  .divisor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divisor h3 {
    text-align: center;
    background: linear-gradient(to right, #36a9e1, #00d154);
    width: 400px;
    padding: 15px 0;
    border-radius: 5px;
    color: #fff;
    font-family: "daysone";
    font-size: 30px;
    margin-bottom: 0px;
  }

  .divisor p {
    max-width: 350px;
    text-align: center;
    font-family: Montserrat;
    color: #00d154;
  }
  .cards {
    margin-bottom: 50px;
  }
  .cardContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .botaoAdicionar{
    text-align: center;
    text-decoration: none;
    color: #fff;
    background:#36a9e1;
    padding: 10px;
    border-radius: 5px;
    font-family: "daysone";
  }
.botaoAdicionar:hover{
  color:#fff;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
}

@media (max-width: 900px) {
  .divisor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .divisor h3 {
    text-align: center;
    background: linear-gradient(to right, #36a9e1, #00d154);
    width: 400px;
    padding: 15px 0;
    border-radius: 5px;
    color: #fff;
    font-family: "daysone";
    font-size: 30px;
    margin-bottom: 0px;
  }

  .divisor p {
    max-width: 350px;
    text-align: center;
    font-family: Montserrat;
    color: #00d154;
  }
  .cards {
    margin: 50px 0 ;
  }
  .cardContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .centralizacao{
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  .botaoAdicionar{
    text-align: center;
    text-decoration: none;
    color: #fff;
    background:#36a9e1;
    padding: 10px;
    border-radius: 5px;
    font-family: "daysone";
  }
.botaoAdicionar:hover{
  color:#fff;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
}

@media (min-width: 901px) {
  .divisor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divisor h3 {
    text-align: center;
    background: linear-gradient(to right, #36a9e1, #00d154);
    width: 800px;
    padding: 15px 0;
    border-radius: 5px;
    color: #fff;
    font-family: "daysone";
    font-size: 30px;
    margin-bottom: 0px;
  }

  .divisor p {
    max-width: 500px;
    text-align: center;
    font-family: Montserrat;
    color: #00d154;
  }
  .cards {
    margin-bottom: 50px;
  }
  .cardContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .botaoAdicionar{
    text-align: center;
    text-decoration: none;
    color: #fff;
    background:#36a9e1;
    padding: 10px;
    border-radius: 5px;
    font-family: "daysone";
  }
.botaoAdicionar:hover{
  color:#fff;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

  .centralizacao{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
}
