@media (min-width:901px){
  .ContainerCardsEsp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .cardsEsportesContainerModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}