@media (max-width: 900px) {
  .adicionarBackground {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .adicionarLocalContainer {
    background: linear-gradient(to top, #36a9e1, #00d154);
    height: 700px;
    width: 500px;
    border-radius: 10px;
    margin: 50px 0;
  }

  .adicionarLocalContainer h1 {
    text-align: center;
    color: #fff;
    font-family: "daysone";
    margin: 30px;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .formulario label {
    color: #fff;
    font-family: "daysone";
    font-size: 30px;
    margin: 1px;
  }

  .formulario input {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    margin: 20px;
  }

  .formulario button {
    margin-top: 10px;
    color: #000;
    font-family: "daysone";
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
  }
  .formulario button:hover {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 901px) {
  .adicionarBackground {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .adicionarLocalContainer {
    background: linear-gradient(to top, #36a9e1, #00d154);
    height: 700px;
    width: 500px;
    border-radius: 10px;
    margin: 50px 0;
  }

  .adicionarLocalContainer h1 {
    text-align: center;
    color: #fff;
    font-family: "daysone";
    margin: 30px;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .formulario label {
    color: #fff;
    font-family: "daysone";
    font-size: 30px;
    margin: 1px;
  }

  .formulario input {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    margin: 20px;
  }

  .formulario button {
    margin-top: 10px;
    color: #000;
    font-family: "daysone";
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
  }
  .formulario button:hover {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }
}